@charset "utf-8";
@font-face {
    font-family: cordel;
    src: url(fontes/Blacky.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html, body{
    min-height: 100vh;
    background-color: gray;
}
header{
    background: black url(imagens/header.jpg) repeat;
    background-size: contain;
    color: white;
    text-align: center;
    padding: 130px;
}
#content{
    background-color: rgba(64, 64, 104, 0.322);
    backdrop-filter: blur(1px);
    max-width: 600px;
    min-width: 450px;
    border-radius: 10px;
    padding-top: 10px;

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -10%);
}
header h1{
    font-family: 'cordel';
    font-size: 75px;
    letter-spacing: 2px;
}
header p{
    padding: 20px;
    font-size: 20px;
}
header a, footer a{
    color: white;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 40px;
    line-height: 2.5em;
    font-size: 30px;
    
}
section p{
    font-family: "Shantell Sans", cursive;
}
section.imagem > p{
    background-color: rgba(64, 64, 104, 0.322);
    backdrop-filter: blur(1px);
    width: 400px;
    border-radius: 10px;
    padding:20px;
}
.normal {
    background-color: white;
}
.imagem{
    background-color: rgba(0, 0, 0, 0.685);
    color: white;
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#imagem-2{
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
